.carrouselContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; /* importante */
  gap: 6rem;
  position: relative;
}
/* Círculo negro */
.black-rounded {
  position: relative;
  width: 70vw;
  max-width: 250px;
  height: 70vw;
  max-height: 265px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}

/* Contenido */
.contentWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.itemNum {
  background-color: white;
  color: black;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 120%;
  font-weight: bold;
  font-size: 14px;
  z-index: 2;
}

.itemText {
  width: 230px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  z-index: 2;
}

.itemImg {
  position: absolute;
  top: 100%;
  width: 80px;
  height: auto;
  z-index: 2;
}

/* Botones */
.buttonLeft,
.buttonRight {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid gray;
  background: white;
  cursor: pointer;
  transition: background 0.3s, border 0.3s;
}

.buttonLeft:hover,
.buttonRight:hover {
  background: #f1f1f1;
  border: 2px solid #ccc;
}

/* Animación */
@keyframes slideInLeft {
  from {
    transform: translateX(80%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slideInLeft 0.7s cubic-bezier(0.25, 0.8, 0.25, 1) both;
}

/* Dots */
.dotsContainer {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 1rem 0;
}

.dot {
  width: 15px;
  height: 4px;
  background-color: #d9d9d9;
  border-radius: 2px;
  transition: background-color 0.3s ease;
}

.active {
  background-color: black;
  width: 67px;
}

/* ==== RESPONSIVE ==== */
@media (max-width: 767px) {
  .carrouselContainer {
    flex-wrap: nowrap;
  }

  .buttonLeft,
  .buttonRight {
    position: relative; /* o absolute si los quieres encima */
    z-index: 10;
  }


  .carrouselContainer {

    gap: 1rem;
  }
}

