.carrouselContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; /* importante */
  gap: 6rem;
  position: relative;
}
/* Círculo negro */
.black-rounded {
  position: relative;
  width: 350.818px;
  height: 350.818px;
  max-width: 350px;
 
  max-height: 350px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

}

/* Contenido */
.contentWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.itemNum {
  background-color: white;
  color: black;
  display: flex;
  width: 52.954px;
  height: 52.954px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 150%;
  font-weight: bold;
  font-size: 14px;
  z-index: 2;
}

.itemText {
  width: 300px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  z-index: 2;
}

.itemImg {
  position: absolute;
  top: 112px;
  width: 132px;
  height: 132px;
  z-index: 2;
}

/* Botones */
.buttonLeft,
.buttonRight {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid gray;
  background: white;
  cursor: pointer;
  transition: background 0.3s, border 0.3s;
}

.buttonLeft:hover,
.buttonRight:hover {
  background: #f1f1f1;
  border: 2px solid #ccc;
}

/* Animación */
@keyframes slideInLeft {
  from {
    transform: translateX(80%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slideInLeft 0.7s cubic-bezier(0.25, 0.8, 0.25, 1) both;
}

/* Dots */
.dotsContainer {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 2rem 0;
}

.dot {
  width: 15px;
  height: 4px;
  background-color: #d9d9d9;
  border-radius: 2px;
  transition: background-color 0.3s ease;
}

.active {
  background-color: black;
  width: 67px;
}

/* ==== RESPONSIVE ==== */

@media (min-width: 768px) and (max-width: 1024px) {

  .black-rounded {
    position: relative;
    width: 300px;
    height: 300px;
    max-width: 350px;
    max-height: 350px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
   
  }

  .carrouselContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* importante */
    flex-wrap: wrap;
    gap: 15px;
    position: relative;
    margin-bottom: 5rem;
  }

  .itemNum {
    background-color: white;
    color: black;
    display: flex;
    bottom: 105%;

}

}


@media (max-width: 767px) {
  .carrouselContainer {
    flex-wrap: nowrap;
    gap: 4px;
  }

  .buttonLeft,
  .buttonRight {
    position: relative; /* o absolute si los quieres encima */
    z-index: 10;
  }



  .black-rounded {
    position: relative;
    width: 265px;
    height: 265px;
    max-width: 350px;
   
    max-height: 350px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    
  }



  .itemText {
    width: 230px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    z-index: 2;
  }
  .itemImg {
    position: absolute;
    top: 130px;
    width: 80px;
    height: auto;
    z-index: 2;
  }

  .itemNum {
    bottom: 110%;
  }
}

