.FaqContainer{
padding: 1rem 1rem;
    background-color: black;
}
h2{
    color: var(--sds-color-text-neutral-on-neutral);
text-align: center;
/* Heading */
font-family: var(--sds-typography-family-sans);
font-size: var(--sds-typography-heading-size-base);
font-style: normal;
font-weight: var(--sds-typography-heading-font-weight);
line-height: normal;
text-transform: uppercase;
}



.faqParticipaContainer{
display: flex;
justify-content: center;
padding: 1rem;
border-radius: 10px;
}


#premios{
    color: #F3F3F3;
    text-align: center;
    font-family: sora;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}