@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sora:wght@100..800&display=swap');

body{
    background-color: #121727;
    color: white;
    font-family: 'Roboto', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  h1 {
    font-size: 48px;
    margin: 12px 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase; 
    font-family: "Sora", sans-serif;
  }

  header{

    background-color: #FFBDE4;
    padding: 0.800rem 48px;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    height: 66px; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;

  }
  body, html {
    overflow-x: hidden;
  }
  
  /* Responsive Breakpoints */
 
  @media (min-width: 768px) and (max-width: 1024px) {
    header{
    width: 100%;
  }
  }
  
  @media (max-width: 768px) {

    h1 {
      font-size: 32px;
      margin: 12px 0;
      padding: 0;
      text-align: center;
      text-transform: uppercase; 
      font-family: "Sora", sans-serif;
    }
    header{
      background-color: #FFBDE4;
      padding: 4px 16px;
      display: flex ;
      justify-content: space-between;
    }
  }
  

  


 